@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body[data-theme = 'dark'] {
  --colors-text: white;
  --colors-text-desc: #939CB0;
  --colors-bg: #0D1117;
  --colors-ui-bg: #4F4F4F;
  --colors-bg-card: #2E3035;

  --colors-ui: #4F4F4F;

  --shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
}

body[data-theme = 'light'] {
  --colors-text: black;
  --colors-text-desc: #939CB0;
  --colors-bg: #FFFFFF;
  --colors-ui-bg: #FFFFFF;
  --colors-bg-card: rgba(71, 147, 255, 0.2);

  --colors-ui: rgba(71, 147, 255, 0.2);

  --shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
}

body {
  margin: 0;
  color: var(--colors-text);
  background-color: var(--colors-bg);
}

.search {
  background-color: var(--colors-bg);
  color: var(--colors-text);
}

.search[data-theme = 'light'] {
  --colors-text: #000000;
  --colors-bg: rgba(71, 147, 255, 0.2);
}

.search[data-theme = 'dark'] {
  --colors-text: #FFFFFF;
  --colors-bg: #4F4F4F;
}